[submodule "atomix"]
	path = atomix
	url = git@github.com:atomix/atomix.git
[submodule "spark"]
	path = spark
	url = git@github.com:apache/spark.git
[submodule "rmi-ek-pelias-damianik"]
	path = rmi-ek-pelias-damianik
	url = git@github.com:IT-Battalion/rmi-ek-pelias-damianik.git
